---
title: Walt Whitman, American: Songs of Myself.
description: The first and last editions of Walt Whitman's Song of Myself from Leaves of Grass, with revisions in parallel.
---

<div class="welcome">
  <p class="intro">Walt Whitman heavily revised <em>Song of Myself</em> over the last 40 years of his life.</p>
  <p class="intro">Here you can see the changes he made.</p>
  <ul class="toc">
    <li class="year-large"><%= link_to "First edition (1855)", "poem/1855.html" %></li>
    <li class="year-large"><%= link_to "Last edition (1892)", "poem/1892.html" %></li>
  </ul><!-- .toc -->
  <p class="credits">
    Public domain text from the <%= link_to 'Walt Whitman Archive', 'http://www.whitmanarchive.org/'%>.
  </p>
  <p class="credits">
    <%= link_to 'Project repository', 'https://github.com/tylergould/songs-of-myself' %>
  </p>
</div><!-- .welcome -->