---
title: Walt Whitman, American.
---

<div class="welcome">
  <p class="intro">Walt Whitman heavily revised <em>Song of Myself</em> over the last 40 years of his life.</p>
  <p class="intro">Here you can see the changes he made.</p>
  <ul class="toc">
    <li class="year-large"><%= link_to "First edition (1855)", "poem/1855.html" %></li>
    <li class="year-large"><%= link_to "Last edition (1892)", "poem/1892.html" %></li>
  </p><!-- .doc -->
  <p class="credits">Built by <%= link_to 'Tyler Gould', 'http://www.tylergould.net' %>. Text from the <%= link_to 'Walt Whitman Archive', 'http://www.whitmanarchive.org/'%>. </p>
</div><!-- .welcome -->